*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #201f22;
}
.select-menu{
    width: 380px;
    margin: 150px auto;
}

.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0,0.1);
    display: none;
    transition: all 0.3s ease;
} 


.options::after, .option::before{
    --angle: 0deg;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #59ff43;
    top: 50%;
    left: 50%;
    translate: -50%-50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
}

.option::before{
    filter: blur(1.5rem);
    opacity: 0.2;
}

.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    transition: 0.3s ease;
}
.options .option:hover{
    background: #f2f2f2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}